.dropdown_input {
  height: 0px;
  width: 0px;
  margin: 0;
  z-index:1;
  /* visibility: collapse; */
  /* visibility: hidden; */
  /* opacity: 0.1;*/
  opacity: 0;
  cursor: pointer;
}

/* .radio-input:hover {
  background:magenta;
} */


/* .dropdown_input:checked + div {
	background: magenta;
} */