:root {
  --font_current: Arial, Helvetica, sans-serif;

	--color_0: black;
	--color_1: white;

  --color_2: magenta;
	--color_3: yellow;
	--color_4: cyan;
	--color_5: red;
	--color_6: purple;

	--color_text: var(--color_6);

	--color_global: var(--color_3);

	--color_header: var(--color_4);
	--color_menu_big: var(--color_4);
	--color_menu_small: var(--color_3);

	--color_footer: var(--color_4);

	--screen_min: 400;

	--height_header: 40px;
}

body {
  font-family: var(--font_current);
  background: var(--color_global);
	color: var(--color_text);
  margin: 0px;
}